<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .status {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #e74c3c;
        color: white;
        text-align: center;
        line-height: 50px; /* Center content vertically */
        font-size: 16px;

        border: none; /* Remove button border */
        outline: none;
      }
    </style>
    <title>Room Control</title>
  </head>
  <body>
    <section>
      <h1>Room 1<br />room status</h1>

      <button class="status"></button><br /><br />
      <button id="toggle">Toggle</button>
      <input
        type="text"
        id="toggleInput"
        name="toggleInput"
        placeholder="Toggle input..."
      />
      <br />
      <br />
      <button id="switchOn">Switch On</button>
      <button id="switchOff">Switch Off</button>
    </section>
    <section>
      <h1>Room 1<br />room status</h1>

      <button class="status"></button><br /><br />
      <button id="toggle">Toggle</button>
      <input
        type="text"
        id="toggleInput"
        name="toggleInput"
        placeholder="Toggle input..."
      />
      <br />
      <br />
      <button id="switchOn">Switch On</button>
      <button id="switchOff">Switch Off</button>
    </section>
  </body>
</html>
