<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .toggle-status-display {
        width: 30px;
        height: 30px;
        border: 1px solid red;
        transition: background-color 0.5s;
      }
      #switch-status-display {
        width: 30px;
        height: 30px;
        border: 1px solid black;
        transition: background-color 0.5s;
      }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Room Control</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Home Automation </a>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </nav>
  <body>
    <section align="left">
      <h1>Toggle A Room LED or Switch A Room LED</h1>
      <form method="post" id="toggleForm">{%csrf_token%}</form>
      <br /><br />

      <h5>Toggle a room LED</h5>

      <input
        type="text"
        value="{{ toggle_action}}"
        name="actionType"
        form="toggleForm"
        hidden
      />

      <div class="row">
        <div class="col-4">
          <select
            name="room"
            id="room"
            form="toggleForm"
            class="form-control"
            required
          >
            <option value="invalid">Select Room</option>
            {% for r in rooms %}
            <option value="{{ r }}">{{ r }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-3">
          <input
            type="text"
            id="toggleInput"
            name="toggleTimes"
            placeholder="Toggle input..."
            form="toggleForm"
            class="form-control"
            required
          />
        </div>
        <div class="col-3">
          <button
            id="toggle"
            type="submit"
            form="toggleForm"
            class="btn btn-outline-warning"
          >
            Toggle
          </button>
        </div>
      </div>
      <br />
      <h5 class="text-uppercase">switch a room LED</h5>

      <form method="post" id="switchForm">{%csrf_token%}</form>
      <div class="row">
        <div class="col-4">
          <select
            name="room"
            id="room"
            form="switchForm"
            class="form-control"
            required
          >
            <option value="invalid">Select Room</option>
            {%for r in rooms %}
            <option value="{{r}}">{{r}}</option>
            {% endfor %}
          </select>
        </div>
        <input
          type="text"
          value="{{ switch_action}}"
          name="actionType"
          form="switchForm"
          hidden
        />
        <div class="col-3">
          <button
            id="switchOn"
            name="state"
            value="1"
            type="submit"
            form="switchForm"
            class="btn btn-outline-success"
          >
            Switch On
          </button>
        </div>
        <div class="col-3">
          <button
            id="switchOff"
            name="state"
            value="0"
            type="submit"
            form="switchForm"
            class="btn btn-outline-danger"
          >
            Switch Off
          </button>
        </div>
      </div>

      <br />
      <h5>LED STATUSES</h5>
      <p id="led-status-1"></p>
      <p id="led-status-2"></p>
    </section>

    <section>
      <table class="table table-bordered" border="2">
        <tr align="center">
          <td>LED</td>
          <td>FUNCTION</td>
          <td>STATE</td>
        </tr>
        <tr align="center">
          <td>led1</td>
          <td>toggle</td>
          <td>
            <div class="toggle-status-display"></div>
          </td>
        </tr>
        <tr align="center">
          <td>led2</td>
          <td>toggle</td>
          <td>
            <div class="toggle-status-display"></div>
          </td>
        </tr>
        <tr align="center">
          <td>led1</td>
          <td>switch</td>
          <td>
            <div id="switch-status-display"></div>
          </td>
        </tr>
        <tr align="center">
          <td>led2</td>
          <td>switch</td>
          <td>
            <div id="switch-status-display"></div>
          </td>
        </tr>
      </table>
    </section>

    <script>
      $(document).ready(function () {
        function updateLEDStatuses() {
          $.ajax({
            type: "GET",
            url: "{% url 'ajax_response' %}",
            dataType: "json",
            success: function (data) {
              $("#led-status-1").empty();
              $("#led-status-2").empty();
              for (const room in data.led_statuses) {
                let status = data.led_statuses[room];
                if (room == "1") {
                  if (status == "starting to toggle") {
                    $("#led-status-1").css("color", "green");
                  } else if (status == "finished toggling") {
                    $("#led-status-1").css("color", "red");
                  }
                  $("#led-status-1").append(
                    `<p>Room ${room} LED Status: ${status}</p>`
                  );
                } else if (room == "2") {
                  if (status == "starting to toggle") {
                    $("#led-status-2").css("color", "green");
                  } else if (status == "finished toggling") {
                    $("#led-status-2").css("color", "red");
                  }
                  $("#led-status-2").append(
                    `<p>Room ${room} LED Status: ${status}</p>`
                  );
                }
              }
            },
            error: function (error) {
              console.error(error);
            },
          });
        }
        updateLEDStatuses();
        setInterval(updateLEDStatuses, 1000);
      });
    </script>
    <script>
      const ledStatusElements = document.getElementsByClassName(
        "toggle-status-display"
      );
      let isGreen = true;

      function toggleColor() {
        for (let i = 0; i < ledStatusElements.length; i++) {
          const ledStatus = ledStatusElements[i];
          if (isGreen) {
            ledStatus.style.backgroundColor = "red";
          } else {
            ledStatus.style.backgroundColor = "green";
          }
        }
        isGreen = !isGreen;
      }

      setInterval(toggleColor, 500);
    </script>
  </body>
</html>
