<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .status {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: green;
        color: white;
        text-align: center;
        line-height: 50px; /* Center content vertically */
        font-size: 16px;
      }
    </style>
    <title>Room Control</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Home Automation </a>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </nav>
  <body>
    <section align="left">
      <h1>Toggle A Room LED or Switch A Room LED</h1>
      <form method="post" id="toggleForm">{%csrf_token%}</form>
      <br /><br />

      <h5>Toggle a room LED</h5>

      <input
        type="text"
        value="{{ toggle_action}}"
        name="actionType"
        form="toggleForm"
        hidden
      />
      {% comment %}
      <input
        type="text"
        name="room"
        form="toggleForm"
        placeholder="Room Number..."
        required
      />
      {% endcomment %}

      <div class="row">
        <div class="col-4">
          <!-- Adjust the 'col-md-*' class as needed -->
          <select
            name="room"
            id="room"
            form="toggleForm"
            class="form-control"
            required
          >
            <option value="invalid">Select Room</option>
            {% for r in rooms %}
            <option value="{{ r }}">{{ r }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-3">
          <!-- Adjust the 'col-md-*' class as needed -->
          <input
            type="text"
            id="toggleInput"
            name="toggleTimes"
            placeholder="Toggle input..."
            form="toggleForm"
            class="form-control"
            required
          />
        </div>
      </div>
      <br />
      <button
        id="toggle"
        type="submit"
        form="toggleForm"
        class="btn btn-outline-warning"
      >
        Toggle
      </button>

      <br />
      <br />
      <h5>switch a room LED</h5>

      <form method="post" id="switchForm">{%csrf_token%}</form>

      <select name="room" id="room" form="switchForm" required>
        <option value="invalid">Select Room</option>
        {%for r in rooms %}
        <option value="{{r}}">{{r}}</option>
        {% endfor %}
      </select>

      <input
        type="text"
        value="{{ switch_action}}"
        name="actionType"
        form="switchForm"
        hidden
      />

      <button
        id="switchOn"
        name="state"
        value="1"
        type="submit"
        form="switchForm"
        class="btn btn-outline-success"
      >
        Switch On
      </button>
      <button
        id="switchOff"
        name="state"
        value="0"
        type="submit"
        form="switchForm"
        class="btn btn-outline-danger"
      >
        Switch Off
      </button>
      <br />
      <h5>LED STATUSES</h5>
      <p id="led-statuses"></p>
    </section>
    <section>
      <table border="2">
        <tr align="center">
          <td>LED</td>
          <td>FUNCTION</td>
          <td>STATE</td>
        </tr>
        <tr align="center">
          <td>led1</td>
          <td>toggle</td>
          <td>TOGGLE STATUS</td>
        </tr>
        <tr align="center">
          <td>led2</td>
          <td>toggle</td>
          <td>TOGGLE STATUS</td>
        </tr>
        <tr align="center">
          <td>led1</td>
          <td>switch</td>
          <td>SWITCH STATUS</td>
        </tr>
        <tr align="center">
          <td>led2</td>
          <td>switch</td>
          <td>SWITCH STATUS</td>
        </tr>
      </table>
    </section>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      $(document).ready(function () {
        function updateLEDStatuses() {
          $.ajax({
            type: "GET",
            url: "{% url 'ajax_response' %}",
            dataType: "json",
            success: function (data) {
              $("#led-statuses").empty();
              for (const room in data.led_statuses) {
                let status = data.led_statuses[room];
                $("#led-statuses").append(
                  `<p>Room ${room} LED Status: ${status}</p>`
                );
              }
            },
            error: function (error) {
              console.error(error);
            },
          });
        }
        updateLEDStatuses();
        setInterval(updateLEDStatuses, 100000);
      });
    </script>
  </body>
</html>
